@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --rtf-color-000: #FFFFFF;
    --rtf-color-100: #FFF7ED;
    --rtf-color-200: #F97316;
    --rtf-color-300: #EA580C;
    --rtf-color-400: #9A3412;
    --rtf-color-500: #000000;
    --rtf-border-color: #dddddd;

    --rtf-spacing-xs: 5px;
    --rtf-spacing-s: 10px;
    --rtf-spacing-m: 15px;
    --rtf-spacing-l: 20px;
    --rtf-spacing-xl: 25px;
    --rtf-spacing-xxl: 30px;

    --rtf-font-family: "Lato", serif;
    --rtf-font-family-secondary: "Funnel Display", serif;

    --rtf-br-primary: 8px;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: var(--rtf-font-family);
}

button,
p,
label,
input {
    font-family: var(--rtf-font-family-secondary);
}

body {
    background-color: var(--rtf-color-100);
    min-height: 100svh;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: var(--rtf-br-primary);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--rtf-color-200);
    border-radius: var(--rtf-br-primary);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--rtf-color-300);
}